# This file specifies files that are *not* uploaded to Google Cloud
# using gcloud. It follows the same syntax as .gitignore, with the addition of
# "#!include" directives (which insert the entries of the given .gitignore-style
# file at that point).

# Temporary and hidden files
*~
.*
.*/**

# Project-specific excludes
external/bootstrap
__pycache__/
/src/
/lib/
env/
back/venv/
frontend/node_modules/

# Python cache/object files
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.bak
*.swp
*.DS_Store